{% load static %}
<html>

    <head>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap" rel="stylesheet"> 
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <title> PDF_Handler </title>
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand brand-title" href="/">
                <!-- <i class="far fa-file-pdf"></i> -->
              pdf_handler
            </a>
          </nav>

        <div class="container main_body">
            <div class="row shadow-lg p-3 mb-5 bg-white rounded-custom">
                <div class="col">
                    <h1> Upload Files </h1>

                    <div class="card">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="id_file" class="btn btn-outline-dark">
                                <i class="fas fa-upload"></i> 
                                Choose a file ..
                                    {{ form }}
                             
                            </label>

                            <div class="btn-group">
                                <button type="submit" class="btn btn-outline-success"> Upload </button>
                                {% if fnames_pk %}
                                    <button href="_blank" id="download"  class="btn btn-outline-dark">Download</button>
                                {% else %}
                                    <button href="_blank" id="download" class="btn btn-outline-dark" disabled="true">Download</button>
                                {% endif%}
                            </div>
                           
                        </form>
                    </div>
        
                </div>
                <div class="col-1">

                </div>

                <div class="col">
                    <ul class="list-group">
                        {% if fnames_pk %}
                            {% for i in fnames_pk %}
                                
                                <div class="list-group-item" id="upload-card">
                                    <div class="upload-title" style="display: flex; flex-direction: row;justify-content: space-between;align-items: start; ">
                                        <i class="fas fa-file-alt" style="margin-right:10px; font-size:40px"></i>
                                        <h4>{{ i.upload.name }}</h4>
                                        <a class='btn btn-link' id="cancel_download" data-file-id={{ i.pk }}><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                
                                
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

                </div>
                
            </div>
         
            
        </div>

        <script type="text/javascript">


            // Page load functions
            $(document).ready(function(){
                var curr_height = window.screen.height;

                //Change the height of the container
                $('.container').height(curr_height/2);
                $('.container').css({'display':'flex', 'flex-direction':'column', 'justify-content':'center'})
            })
            
            $(document).on('click','#cancel_download',function(){
                var id = $(this).attr('data-file-id')
                var card = $(this).closest("div#upload-card")
                var card_count = $('.list-group-item').length -1 
                
                $.ajax({
                    type:"GET",
                    url:"delete/"+id,
                    data:{
                        file_id:id
                    },
                    success: function(data){
                        $(card).remove()
                        console.log(card_count)
                        if(card_count == 0){
                            $("#download").prop('disabled',true)
                        }
                    }
                })
            })

            $(document).on('click','#download', function(){
                $.ajax({
                    type:"GET",
                    url:"download/",
                    xhrFields:{
                        responseType: 'blob'
                    },
                    success:function(data){
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        var time_now = new Date()
                        a.href = url;
                        a.download = 'file_'+time_now.getDay()+'/'+time_now.getMonth()+'/'+ time_now.getFullYear() + '.pdf';
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);
                        console.log("Download successfull ...")
                    }
                })
            })
        </script>
    </body>

</html>