.brand-title{
    font-family: 'Pacifico', cursive;
    font-size:40px;
}

.fa-file-pdf{
    font-size:30px;
}

h1, h4{
    font-family: 'Quicksand', sans-serif;
}

div.all-cards-container{
    display: flex;
    flex-direction: column;
}

div.all-cards{
    display: flex;
    flex-direction: row;
}

p.card-text{
    font-size: 15px;
}

.fa-file-pdf{
    font-size: xx-large;
}

.col-1{
    max-width: 30px;
    /* border-right: 1px dashed black; */
}

.rounded-custom{
    border-radius: 10px;
}

footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
}

.logos > a{
    color: black;
    font-size:40px;
}