.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.card-text{
    font-size: 15px;
}

.fa-file-pdf{
    font-size: xx-large;
}

input#file_id > button {
    font-weight: bold;
}