.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.all-cards-container{
    display: flex;
    flex-direction: column;
}

div.all-cards{
    display: flex;
    flex-direction: row;
}

p.card-text{
    font-size: 15px;
}

.fa-file-pdf{
    font-size: xx-large;
}

#download{
    align-self: center;
}